PORT=5012

APP_MODE=global_db_prod_url
global_db_prod_url='tbd'
global_db_test_url='tbd'
local_db_test_url='tbd'

MTAS_APP_ID=uniqueappid1

# MTAS_REDIRECT_URI=https://express.kondraten.dev/auth/callback
MTAS_REDIRECT_URI=http://localhost:5012/auth/callback

# MTAS_URL='https://mtas.kondraten.dev'
MTAS_URL='http://localhost:5010'

MTAS_FE_URL="http://localhost:5011"
# MTAS_FE_URL="https://mtas-ui.kondraten.dev"

# MTAS_JWKS_URL='https://mtas.kondraten.dev/jwks.json'
MTAS_JWKS_URL='http://localhost:5010/.well-known/jwks.json'

ENCRYPTION_PASSWORD=tbd

# POSTER_FE_URL=https://poster.kondraten.dev
POSTER_FE_URL=http://localhost:5173
